@tailwind base;
@tailwind components;
@tailwind utilities;


.vid-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .vid-back video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

